{% extends 'base.html' %}

{% block content %}
    
    

    
     <!--  -->
     <div class="container-xxl mtc-80">
        <div class="container" >
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="">Business Financing - Canada
                </h1>
                <h3 class="">Start, Buy or Expand your Business - we are here to help with financing
                </h3>
                
                <h6 class=" col-md-8 mt-3 mx-auto text-center">We are committed to helping you succeed by providing flexible financing options. Whether you are a small business owner looking for working capital or a larger corporation seeking to finance a new project or expansion,<br> we are here to help.
                </h6>
                <button type="button" class="btn btn-primary rounded-pill py-3 px-4 mt-2" data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
            </div>
        </div>
    </div>
    <!--  -->

    



    


    <!--  -->

    <div class="container-xxl mtc-100">
        <div class="container" >
         <div class="container row">
             <div class="col-md-7 col-sm-12">
                <h1 class="display-5">Business Financing Solutions</h1>

                <h4 class="col-md-10 mt-5" >
                    New businesses looking for financial support
                </h4>
                <h6 class="col-md-10" >
                    We are empowering new businesses with flexible business financing solutions tailored for your needs.Our dedicated team is here to assist you in securing the perfect business loan for your venture's success.<br><br>
                    Our comprehensive range of business loan options in Canada, we specialize in providing tailored business financing solutions to support the growth and development of new businesses with lexible loan programs offer competitive rates, convenient terms, and personalized guidance.
                </h6>
       
                <h4  class="col-md-10 mt-5">
                    Established businesses experiencing issues with cash flow 
                <h6 class="col-md-10" >
                    Our expertise lies in understanding the unique needs of established companies. With our flexible financing options and competitive rates, we can help you overcome cash flow constraints and navigate the path to success. Whether you need working capital, equipment financing, or invoice factoring, our experienced team is ready to assist.<br><br>
                    Unlock the potential of your business and take it to new heights with the financial backing it deserves. Contact us today to explore the business loan options that best suit your needs and join the thriving community of successful entrepreneurs in Canada."
                </h6>

             </div>
             <div class="col-md-5 mt-2 ml-5 col-sm-11">

                 <h4  class="text-blue1 text-uppercase mt-3">
                    Private Equity</h4>
                 <p  class="col-md-12">Businesses with annual revenue of more than $10 Million. we prioritize building strong relationships with our clients. We believe in understanding your unique needs and providing personalized financing solutions that foster long-term trust and satisfaction.
                 </p>

                 <h4  class="text-blue1 mt-4 text-uppercase col-md-10">Government Guaranteed Small Business Loan</h4>
                 <p  class="col-md-12">Our expertise and extensive network enable us to close million-dollar private funding deals quickly and efficiently. Trust us for swift and seamless execution on high-value transactions.
                 </p>
 
                 <h4  class="text-blue1 mt-4 text-uppercase">Short & Long Term Loans</h4>
                 <p  class="col-md-12">We take a practical and common sense approach to private funding, ensuring that our solutions align with your financial goals and circumstances. Experience a straightforward and sensible lending process with us.
                 </p>
 
                 <h4  class="text-blue1 text-uppercase col-md-10">Revolving Business Lines of Credit</h4>
                 <p  class="col-md-12">Our private business solutions provide the funding you need to expand your business rapidly. With our quick approval process and flexible terms, you can fuel your growth and seize new opportunities swiftly. 
                 </p>

 
             </div>
           </div>
           
        </div>
     </div>
 
     <!--  -->


      <!--  -->
      <div class="container-xxl mt-5 mtc-80">
        <div class="container" >
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
                
                <h3 class="">How we can help?
                </h3>
                
                <div class="container-xxl mt-5">
                    <div class="row">
                      <div class="col-sm-10 col-md">
                        <div class="box">
                          <h3 class="mt-1">Start-up Financing</h3>
                          <p class="mt-3">Fuel your Canadian start-up's growth with our flexible loan options. From initial expenses to hiring and equipment, we provide the capital you need with competitive rates and tailored solutions.</p>
                        </div>
                      </div>
                      <div class="col-sm-10 col-md">
                        <div class="box">
                          <h3 class="mt-1">Business Acquisition</h3>
                          <p class="mt-3">Secure the funds for acquiring businesses in Canada with our flexible loan options. We offer tailored solutions and competitive rates to fuel your growth through strategic acquisitions.</p>
                        </div>
                      </div>
                      <div class="col-sm-10 col-md">
                        <div class="box">
                          <h3 class="mt-1">Improve Cashflow</h3>
                          <p class="mt-3">Enhance your business's cash flow in Canada with our flexible loan solutions. Access the working capital you need to manage expenses, bridge gaps, and seize growth opportunities with competitive rates.</p>
                        </div>
                      </div>
                     
                      <div class="col-sm-10 col-md">
                        <div class="box">
                          <h3 class="mt-1">Debt Refinance</h3>
                          <p class="mt-3">Take control of your finances in Canada with our tailored loan solutions. Consolidate and refinance existing debts to improve cash flow, lower interest rates, and simplify repayments with competitive rates.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <!--  -->




      
    <!-- Project Start -->
    <div class="container-xxl pt-5 mtc-80">
        <div class="container">
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/gasstationcanada.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">GAS STATIONS </a>
                        <span><h6 class="text-center" >Real-estate (optional)</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/holidayinn.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">HOTELS & MOTELS</a>
                        <span><h6 class="text-center" >Including Bars & Food Service</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/indianrestaurentcanada.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">RESTAURANTS</a>
                        <span><h6 class="text-center" >Food Service</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/mcdonalds.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">FAST FOOD FRANCHISE</a>
                        <span><h6 class="text-center" >Quick Service (QSR)</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/storecanada2.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">GROCERY STORES</a>
                        <span><h6 class="text-center" >Retail</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/timh2.webp" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">FOOD SERVICE/RESTAURANT</a>
                        <span><h6 class="text-center" >Quick Service (QSR)</h6></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project End -->


    <!-- Service Start -->
    <div class="container-xxl mtc-80">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fs-5 fw-medium text-primary">Our Expertise</p>
                <h1 class="display-5 mb-5">FUNDING ALL SCENARIO's
                    <span>
                        <h5>
                            No matter your unique financial situation, we have the expertise and resources to find the right solution for you.
                        </h5>
                    </span>
                    <span><h2 class="display-4 cursive text-primary">We mean it</h1></span>
                </h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">LIMITED/POOR CREDIT</h5>
                                <p class="mb-0 "> Don't let a limited credit history hold you back. Our private funding solutions cater to individuals with limited or no credit, providing opportunities to secure financing and achieve your homeownership goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">INSUFFICIENT CASH FLOW</h5>
                                <p class="mb-0 ">Our private funding solutions cater to individuals with previous bankruptcy or foreclosure, offering a fresh start and the opportunity to rebuild your credit and own a home again.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">HIGH-DEBT LEVELS</h5>
                                <p class="mb-0 ">We will provide options to consolidate debt or access financing despite your debt levels considering your overall scenario. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">INDUSTRY VOLATILITY</h5>
                                <p class="mb-0 "> Don't let a limited credit history hold you back. Our private funding solutions cater to individuals with limited or no credit, providing opportunities to secure financing and achieve your homeownership goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">LIMITED OPERATING HISTORY</h5>
                                <p class="mb-0 ">Our private funding solutions cater to individuals with previous bankruptcy or foreclosure, offering a fresh start and the opportunity to rebuild your credit and own a home again.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <h5 class="mb-3 text-center ">LACK OF COLLATERAL</h5>
                                <p class="mb-0 ">We will provide options to consolidate debt or access financing despite your debt levels considering your overall scenario. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    
    <!--  -->

    <div class="container-xxl my-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container bg-dark text-white rounded-3">
          <div class="row">
            <div class="col-md-8 p-4 ">
              <h2 class="text-white display-6 px-5" >Interested in starting a Business?</h2>
              <h6 class="col-md-11 text-white px-5" >We offer expert guidance and comprehensive support to aspiring entrepreneurs, empowering them to turn their ideas into successful ventures. Let us help you launch your dream business with our specialized services.</h6>
            </div>
            <div class="col-md-4">
              <h2 class="text-white pt-4 px-2" >Call or Email</h2>
              <h5 class="col-md-12 text-white" >
                <span>
                    <i class="fa fa-phone-alt me-3"></i>
                </span>
                +1(647) 547-8025
            </h5>
              <h5 class="col-md-12 text-white" >
                <span>
                    <i class="fa fa-envelope me-3"></i>
                </span>
                business@easyprivate.ca
            </h5>
            </div>
             
        </div>
      </div>
    </div>

    <!--  -->






    {% endblock  %}
