{% extends 'base.html' %}

{% block content %}
    

    
    
     <!--  -->
     <div class="container-xxl mt-5">
        <div class="container" >
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="">Commercial Funding
                    <span class="cursive text-primary" >
                        Promise
                    </span>
                </h1>
                
                <h5 class=" col-md-8 mt-3 mx-auto text-center">We are committed to helping you succeed by providing flexible financing options. Whether you are a small business owner looking for working capital or a larger corporation seeking to finance a new project or expansion,<br> we are here to help.</h5>
                <button type="button" class="btn btn-primary rounded-pill py-3 px-4 mt-2" data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
            </div>
        </div>
    </div>
    <!--  -->

    

     <!-- Project Start -->
     <div class="container-xxl pt-5 mtc-80">
        <div class="container">
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/commercialhero.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">SHOPPING MALL</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/city street.jpg">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">MULTIFAMILY RESIDENTIAL</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/homedevelopment.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">RESIDENTIAL DEVELOPMENT</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/Tall building2.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">OFFICE BUILDINGS</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/holidayinn.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">HOTELS & MOTELS</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/commercial.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">COMMERCIAL PLAZAS</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project End -->





     <!--  -->
     <div class="container-xxl">
        <div class="container">
            <div class="container">
                <div class="mt-3" >
                    <div class="row">
                        <div class="col-md-7">
                           <div class="text-center mx-5 text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                           style="max-width: 600px;">
                                <h1 class="display-5 mb-5 pt-5 px-lg-5">Experts in Commercial Financing</i></span>
                                </h1>
                                <h5 class="px-lg-5" >
                                    We know opportunity doesn't wait, we act fast and with our experience we can get the transaction completed on-time. With our deep industry knowledge and extensive experience, we are the trusted experts in providing tailored commercial financing solutions. Partner with us to fuel your business growth and achieve your financial goals. 
                                </h5>
                          </div> 
                        </div>
           
                        <div class="col-md-5 mt-5 ml-5">

                            <h3 class="text-blue1">Expertise You Can Trust</h3>
                            <p> With years of industry experience, our team possesses the knowledge and skills to navigate complex mortgage scenarios. Rely on our expertise for reliable and tailored solutions to meet your unique needs.
                            </p>
           
                            <h3  class="text-blue1">Experts in fast closings</h3>
                            <p> Our expertise and streamlined process allow us to facilitate swift closings, ensuring you get the funding you need in a timely manner. Trust us for efficient and hassle-free transactions.
                            </p>
            
                            <h3  class="text-blue1">We work for your best interest</h3>
                            <p>As your trusted financial partner, we prioritize your needs and goals. Our dedicated team works tirelessly to secure the best financing options that align with your best interests.
                            </p>
            
                        </div>
                      </div>
                      
                   </div>
            </div>
        </div>
     </div>

    <!--  -->

    
    <!-- Service Start -->
    <div class="container-xxl mtc-80">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fs-5 fw-medium text-primary">Our Expertise</p>
                <h1 class="display-5 mb-5">COMMERCIAL FUNDING HIGHLIGHTS
                    <span>
                        <h5>
                            We take the time to understand your unique financing needs and create personalized funding plans that suit your specific situation. Our team of experienced lenders has in-depth knowledge of the Canadian commercial loans market, ensuring you receive expert guidance throughout the process.
                        </h5>
                    </span>
                    <span><h2 class="display-4 cursive text-primary">We mean it</h1></span>
                </h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">     
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">HIGHER LTV's</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">UP TO 85%</h5>
                            <p class="card-text text-center">
                                Unlock greater financing possibilities with our commercial mortgages offering higher loan-to-value ratios, allowing you to maximize capital and seize growth opportunities.
                            </p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">    
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">LONGER AMORTIZATION</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">UP TO 40 Years</h5>
                            <p class="card-text text-center">
                                Experience increased affordability and cash flow with our commercial mortgages featuring longer amortization periods, providing flexibility and reduced monthly payments.
                            </p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">    
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">FLEXIBLE TERMS</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">OPEN TERMS AVAILABLE
                            </h5>
                             <p class="card-text text-center">
                                Choose the flexibility that suits your business with our commercial mortgages offering open or closed mortgage terms, empowering you to adapt and optimize your financing strategy."
                              </p>
                             </div>
                            </div>
                          </div>
                        </div>
            <div class="row g-4 mt-3">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">     
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">$0 FEE</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">NO UPFRONT COSTS</h5>
                            <p class="card-text text-center">
                                Start your commercial mortgage journey with us, as we offer financing solutions with no upfront fees, ensuring cost-effective funding for your business.
                            </p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">    
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">LOWEST RATES</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">STARTING @ 3.99%</h5>
                            <p class="card-text text-center">
                                Secure your commercial mortgage with confidence, benefiting from our commitment to offering the lowest rates in the industry.
                            </p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">    
                    <div class="card mt-3 border1 rounded-3 position-relative h-100">
                          <div class="card-body">
                            <h4 class="mt-3 mb-2 card-title text-center ">RATE TYPE's</h4>
                            <h5 class="card-subtitle mb-2 text-muted text-center">Fixed, Variable or Combined
                            </h5>
                             <p class="card-text text-center">
                                Tailor your commercial mortgage to your preference with options for fixed, variable, or combined rates, providing flexibility and stability.
                              </p>
                             </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- Service End -->

      <!--  -->

      <!--  -->
      <div class="container my-5 py-5 bg-dark rounded-3">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="py-2 text-white">
                Free Consultation & Quote
            </h1>
            <h5 class="col-md-6 mx-auto text-white">
                Take advantage of our complimentary consultation and receive a no-obligation free quote tailored to your specific financing needs.
            </h5>
            <div class="col-md-4 mx-auto">
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (705) 906-9906
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-primary" style="width: 135px;">CALL</button>
                        </h6>
                    </span>
                </a>
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (647) 547-8025
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-success" style="width: 135px;"><i class="bi bi-whatsapp"></i>WHATSAPP</button>
                        </h6>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!--  -->


    <!--  -->








     <!--  -->
     
    <div class="container-xxl mtc-100">
        <div class="container">
            <div class="container">
                <div class="mt-3" >
                    <div class="row">
                        <div class="col-md-7">
                           <div class="text-center mx-5 text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                           style="max-width: 600px;">
                                <h1 class="display-5 mb-5 pt-5 px-lg-5">Millions funded
                                    <span><i>......fast</i></span>
                                </h1>
                                <h5 class="px-lg-5" >
                                    We know opportunity doesn't wait, we act fast and with our experience we can get the transaction completed on-time.  
                                </h5>
                          </div> 
                        </div>
           
                        <div class="col-md-5 mt-5 ml-5">
           
                           
                            <h3 class="text-blue1">On-time, everytime</h3>
                            <p>Our commitment to fast funding and efficiency sets us apart. Count on us to deliver prompt and reliable funding solutions, ensuring your financial needs are met without delay, every single time.
                            </p>
           
           
                            <h3  class="text-blue1">Transparency</h3>
                            <p>We believe in complete transparency throughout the mortgage process. From clear communication to providing detailed information, we ensure you have a full understanding of your options, terms, and fees, building trust every step of the way.
                            </p>
            
                            <h3  class="text-blue1">Speedy Approvals</h3>
                            <p>Time is of the essence, and we prioritize fast approvals. Our efficient process and streamlined approach ensure quick turnaround times, allowing you to secure your mortgage approval promptly and move forward with confidence.
                            </p>
            
                        </div>
                      </div>
                      
                   </div>
            </div>
        </div>
     </div>






{% endblock  %}