{% extends 'base.html' %}

{% block content %}
    


     <!--  -->
     <div class="container-xxl mt-5">
        <div class="container" >
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="">Construction Project Funding
                    <span class="cursive text-primary" >
                        Experts
                    </span>
                </h1>
                
                <h5 class=" col-md-8 mt-3 mx-auto text-center">We are committed to helping you succeed by providing flexible financing options for your contstruction projects. <br>NEED FUNDING FAST, CONTACT US<br> we are here to help.</h5>
                <button type="button" class="btn btn-primary rounded-pill py-3 px-4 mt-2" data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
            </div>
        </div>
    </div>
    <!--  -->



    
     <!--  -->
     <div class="container-xxl">
        <div class="container">
            <div class="container">
                <div class="mt-3" >
                    <div class="row">
                        <div class="col-md-7">
                           <div class="text-center mx-5 text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                           style="max-width: 600px;">
                                <h1 class="display-5 mb-5 pt-5 px-lg-5">Construction Financing
                                    <br>
                                <span class="cursive text-primary" >
                                    ....done fast
                                </span>
                                </i></span>
                                </h1>
                                <h5 class="px-lg-5" >
                                    We know opportunity doesn't wait, we act fast and with our experience we can get the transaction completed on-time. With our deep industry knowledge and extensive experience, we are the trusted experts in providing tailored commercial financing solutions. Partner with us to fuel your business growth and achieve your financial goals. 
                                </h5>
                          </div> 
                        </div>
           
                        <div class="col-md-5 mt-5 ml-5">

                            <h3 class="text-blue1">High-ratio Construction Loans</h3>
                            <p> With years of industry experience, our team possesses the knowledge and skills to navigate complex mortgage scenarios. Rely on our expertise for reliable and tailored solutions to meet your unique needs.
                            </p>
           
                            <h3  class="text-blue1">Open Term Loans</h3>
                            <p> Our expertise and streamlined process allow us to facilitate swift closings, ensuring you get the funding you need in a timely manner. Trust us for efficient and hassle-free transactions.
                            </p>
            
                            <h3  class="text-blue1">Fast Funding Guaranteed</h3>
                            <p>As your trusted financial partner, we prioritize your needs and goals. Our dedicated team works tirelessly to secure the best financing options that align with your best interests.
                            </p>
            
                        </div>
                      </div>
                      
                   </div>
            </div>
        </div>
     </div>
    <!--  -->

     
    <!-- Service Start -->
    <div class="container-xxl mtc-80">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center">Loans up to<br>$100 MILLION</h3>
                                <h6 class="mb-0 ">We can arrange loans up to $100 Million for a single project with a consortium of lenders available with us.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center ">Hard costs up to <br>100% LTC</h3>
                                <h6 class="mb-0 ">Hard construction costs is financed up to 100% of LTC.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center ">Soft costs up to <br>90% LTC</h3>
                                <h6 class="mb-0 ">Soft costs is financed up to 90% LTC. </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center ">Land loans up to <br>80% LTV</h3>
                                <h6 class="mb-0 ">Land loans on zoned land, serviced lots and land going through the entitlement process for ultimate conversion into project/construction financing.
                                    </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center ">Mezzanine up to <br>90% LTC</h3>
                                <h6 class="mb-0 ">Mezzanine financing where dditional financing is required or the project has cost over-runs.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-3">
                            <h3 class="mb-3 text-center ">Inventory up to<br> 80% LTV</h3>
                                <h6 class="mb-0 ">Inventory Loans on completed high rise condominiums and low rise single-family developments. </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->



      <!--  -->
      <div class="container my-5 py-5 bg-dark rounded-3">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="py-2 text-white">
                Free Consultation & Quote
            </h1>
            <h5 class="col-md-6 mx-auto text-white">
                Take advantage of our complimentary consultation and receive a no-obligation free quote tailored to your specific financing needs.
            </h5>
            <div class="col-md-4 mx-auto">
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (705) 906-9906
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-primary" style="width: 135px;">CALL</button>
                        </h6>
                    </span>
                </a>
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (647) 547-8025
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-success" style="width: 135px;"><i class="bi bi-whatsapp"></i>WHATSAPP</button>
                        </h6>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!--  -->








     <!--  -->
     
    <div class="container-xxl mtc-100">
        <div class="container">
            <div class="container">
                <div class="mt-3" >
                    <div class="row">
                        <div class="col-md-7">
                           <div class="text-center mx-5 text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                           style="max-width: 600px;">
                                <h1 class="display-5 mb-5 pt-5 px-lg-5">Millions funded
                                    <span><i>......fast</i></span>
                                </h1>
                                <h5 class="px-lg-5" >
                                    We know opportunity doesn't wait, we act fast and with our experience we can get the transaction completed on-time.  
                                </h5>
                          </div> 
                        </div>
           
                        <div class="col-md-5 mt-5 ml-5">
           
                           
                            <h2 class="text-blue1">On-time, everytime</h2>
                            <p>Our commitment to fast funding and efficiency sets us apart. Count on us to deliver prompt and reliable funding solutions, ensuring your financial needs are met without delay, every single time.
                            </p>
           
           
                            <h2  class="text-blue1">Transparency</h2>
                            <p>We believe in complete transparency throughout the mortgage process. From clear communication to providing detailed information, we ensure you have a full understanding of your options, terms, and fees, building trust every step of the way.
                            </p>
            
                            <h2  class="text-blue1">Speedy Approvals</h2>
                            <p>Time is of the essence, and we prioritize fast approvals. Our efficient process and streamlined approach ensure quick turnaround times, allowing you to secure your mortgage approval promptly and move forward with confidence.
                            </p>
            
                        </div>
                      </div>
                      
                   </div>
            </div>
        </div>
     </div>






     <!--  -->

    


{% endblock  %}