
{% extends 'base.html' %}

{% block content %}
  

    <!--  -->

    <div class="container-xxl mtc-100">
        <div class="container" >
             <div class="col-md-12 col-sm-10">
                <h1 class="display-5 mb-4">DISCLAIMER</h1>

                <h5  class="col-md-10 mt-5">
                    Effective Date: [Insert Date]
                </h5>
                <h5  class="col-md-10 mt-5">
                    General Information:
                </h5>
                <p class="col-md-9" >
                    easyprivate.ca ("the Website") is a platform that connects borrowers with mortgage brokers and business loan lenders in Canada. It is important to understand the following disclaimers before using or relying upon any information provided on the Website.
                </p>

                <h5  class="col-md-10 mt-5">
                    Not a Mortgage Broker or Lender:
                </h5>
                <p class="col-md-9" >
                    The Website and its operators are not mortgage brokers or lenders. We do not directly offer mortgage or loan products, nor do we have control over the loan application, approval, or disbursement process. The Website acts solely as an intermediary platform connecting borrowers with potential mortgage brokers and business loan lenders.
                </p>

                <h5  class="col-md-10 mt-5">
                    No Guarantee of Loan Approval:
                </h5>
                <p class="col-md-9" >
                    The Website does not guarantee loan approval or provide any assurances regarding the availability, terms, or rates of any loans. We do not endorse or guarantee the suitability, reliability, or performance of any mortgage broker or business loan lender listed on the Website. Borrowers are solely responsible for assessing the suitability and reliability of any loan options presented to them.
                </p>

                <h5  class="col-md-10 mt-5">
                    Information Accuracy:
                </h5>
                <p class="col-md-9" >
                    While we strive to provide accurate and up-to-date information on the Website, we do not warrant or represent the completeness, accuracy, or reliability of any information, content, or materials provided. Users are advised to independently verify any information provided on the Website before making any financial decisions.
                </p>


                <h5  class="col-md-10 mt-5">
                    Consultation with Professionals:
                </h5>
                <p class="col-md-9" >
                    The information provided on the Website is for general informational purposes only and should not be considered as financial, legal, or professional advice. Users are strongly encouraged to seek advice from qualified professionals, such as lawyers, accountants, or financial advisors, before making any financial decisions or entering into any loan agreements.
                </p>

                <h5  class="col-md-10 mt-5">
                    User Responsibility:
                </h5>
                <p class="col-md-9" >
                    Users of the Website acknowledge and accept the risks associated with using online platforms for loan purposes. They understand that any interactions, communications, or transactions with mortgage brokers or business loan lenders are solely between themselves and those parties, and the Website shall not be held liable for any damages, losses, or disputes arising from such interactions.
                </p>

                <h5  class="col-md-10 mt-5">
                    External Links:
                </h5>
                <p class="col-md-9" >
                    The Website may contain links to third-party websites or resources for convenience and informational purposes. The inclusion of any external links does not imply endorsement or guarantee by the Website. We do not have control over the content or policies of these external websites, and users are advised to review their respective terms and privacy policies.
                </p>

                <h5  class="col-md-10 mt-5">
                    Modifications to the Disclaimer:
                </h5>
                <p class="col-md-9" >
                    The Website reserves the right to modify or update this disclaimer at any time without prior notice. Users are encouraged to review the disclaimer periodically for any changes.
                </p>
             
           </div>
           
        </div>
     </div>
 
     <!--  -->

     {% endblock  %}
