{% extends 'base.html' %}

{% block content %}
    
    




    <!-- Carousel Start -->
    <div class="container-fluid px-0 mb-5 max-height">
        <div id="header-carousel" class="max-height carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/img/house3com_1.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding made Easy</strong>
                                    </p>
                                    <h1 class="display-1 text-white mb-4 animated slideInLeft">Fast Private Funding for Personal use
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <img class="w-100" src="/static/img/constructionhero5com_2.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding</strong> made Easy
                                    </p>
                                    <h1 class="display-1 text-white mb-5 animated slideInLeft">Fast Private Funding for High-rise Condo Projects
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding 
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <img class="w-100" src="/static/img/suburban_street_4_2.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding made Easy</strong>
                                    </p>
                                    <h1 class="display-1 text-white mb-5 animated slideInLeft">Fast Private Funding for Residential Development 
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding 
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="carousel-item">
                    <img class="w-100" src="/static/img/gasstationcanadacom_3.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding made Easy</strong>
                                    </p>
                                    <h1 class="display-1 text-white mb-5 animated slideInLeft">Fast Private Funding for New/Exisiting Business
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding 
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <img class="w-100" src="/static/img/commercial_2.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding made Easy</strong>
                                    </p>
                                    <h1 class="display-1 text-white mb-5 animated slideInLeft">Fast Private Funding for Commercial Plaza
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding 
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="/static/img/commercialhero_1.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-9 text-start">
                                    <p class="fs-4 text-white animated slideInRight"><strong>Private Funding made Easy</strong>
                                    </p>
                                    <h1 class="display-1 text-white mb-5 animated slideInLeft">Fast Private Funding for Shopping Mall
                                    </h1>
                                    <h6 class="display-6 text-white mb-4 animated slideInRight">Experts in fast funding 
                                    </h6>
                                    <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    

     <!-- Testimonial Start -->
     <div class="container-xxl pt-5 mtc-100">
        <div class="container">
            <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary">PRIVATE FUNDING MADE EASY</p>
                <h1 class="display-5 mb-2">FUNDING FROM<br>$50K to $100 Million</h1>
                <h5 class="mb-4" >
                    Contact us today for a no-obligation free quote tailored to your unique mortgage needs.
                </h5>
            </div>

            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>PERSONAL LOANS</h4>
                    <span class="text-primary"><h5>up to $250K</h5></span>
                    <p class="mt-4">Access private funds tailored to your personal needs, whether it's consolidating debt, financing a major purchase, or covering unexpected expenses. Benefit from flexible terms and quick approval process.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>HOME RENOVATION LOANS</h4>
                    <span class="text-primary"><h5>up to $1 Million</h5></span>
                    <p class="mt-4">Transform your house into your dream home with our home renovation loans. Access funds for remodeling, repairs, or upgrades, with flexible repayment terms and competitive interest rates. Start renovating today.
                    </p>
                </div>

                
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>COMMERCIAL LOANS</h4>
                    <span class="text-primary"><h5>up to $25 Million</h5></span>
                    <p class="mt-4">Our commercial financing solutions cater to businesses of all sizes, offering financing for acquisitions, expansions, equipment purchases, and more. Partner with us for competitive rates and expert guidance in growing your business.
                    </p>
                </div>
                
                
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>CONSTRUCTION LOANS</h4>
                    <span class="text-primary"><h5>up to $100 Million</h5></span>
                    <p class="mt-4">Secure financing for your construction projects with our specialized construction loans. From ground-up builds to major renovations, we provide flexible funds and guidance throughout the construction process.
                    </p>
                </div>
                
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>BRIDGE FINANCING</h4>
                    <span class="text-primary"><h5>up to $5 Million</h5></span>
                    <p class="mt-4">Bridge the gap between buying a new property and selling your existing one with our bridge financing solutions. Access short-term funds to facilitate a smooth transition without missing out on opportunities.
                    </p>
                </div>
                
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>MEZZANINE LOANS</h4>
                    <span class="text-primary"><h5>up to $5 Million</h5></span>
                    <p class="mt-4">Our mezzanine financing options provide additional capital for real estate projects, bridging the gap between senior debt and equity. Unlock the potential of your project with flexible and customized funding.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>BUILDER LARGE LOANS</h4>
                    <span class="text-primary"><h5>up to $100 Million</h5></span>
                    <p class="mt-4">We specialize in providing substantial loans to builders for large-scale projects. Our customized financing solutions support the construction of residential or commercial developments, ensuring smooth progress and successful completion.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>BUSINESS LINE OF CREDIT</h4>
                    <span class="text-primary"><h5>up to $500K</h5></span>
                    <p class="mt-4">Access a flexible and revolving source of funds for your business needs. With a business line of credit, you can manage cash flow, cover expenses, and seize growth opportunities with ease.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>BUSINESS EXPANSION</h4>
                    <span class="text-primary"><h5>up to $10 Million</h5></span>
                    <p class="mt-4">Fuel your business growth with our tailored expansion loans. Access funds to expand operations, open new locations, invest in equipment, or launch new product lines. Unlock your business's full potential today.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>EQUIPMENT LEASING</h4>
                    <span class="text-primary"><h5>up to $1 Million</h5></span>
                    <p class="mt-4">Acquire the necessary equipment for your business without the upfront costs. Our equipment leasing options allow you to access high-quality machinery and technology while preserving your cash flow.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>DEVELOPER FINANCING</h4>
                    <span class="text-primary"><h5>up to $100 Million</h5></span>
                    <p class="mt-4">Our developer financing solutions provide tailored funding for real estate development projects. From land acquisition to construction costs, we support developers in bringing their visions to life with flexible and competitive financing options.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>JOINT VENTURE FUNDING</h4>
                    <span class="text-primary"><h5>up to $50 Million</h5></span>
                    <p class="mt-4"> Collaborate with us through joint venture funding for your real estate ventures. We bring together our expertise and capital to maximize the potential of investment opportunities, sharing risks and rewards for mutual success.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>LAND & INFILL</h4>
                    <span class="text-primary"><h5>up to $25 Million</h5></span>
                    <p class="mt-4">we provide the funds to turn land into profitable real estate projects. Unlock the potential of vacant land and infill properties with our financing solutions, whether it's development, subdivision, or revitalization. 
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>LAND SERVICING</h4>
                    <span class="text-primary"><h5>up to $10 Million</h5></span>
                    <p class="mt-4">Our land servicing financing options support the necessary infrastructure development for land parcels, including roads, utilities, and other essential services. Prepare your land for construction and maximize its value with our tailored solutions.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>FARMLAND & AGRICULTURE</h4>
                    <span class="text-primary"><h5>up to $10 Million</h5></span>
                    <p class="mt-4">Access funds for land acquisition, equipment purchases, crop production, and more, empowering your agricultural operations for growth and success. Our financing options cater to the unique needs of farmers and agricultural businesses. 
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>MULTIUNIT FINANCIING</h4>
                    <span class="text-primary"><h5>up to $50 Million</h5></span>
                    <p class="mt-4">Our specialized financing solutions cater to multiunit properties, such as apartment buildings and condominium complexes. Secure funding for acquisitions, refinancing, or renovations, tailored to the unique needs of multiunit property owners and investors.
                    </p>
                </div>

                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <h4>JOINT VENTURE EQUITY</h4>
                    <span class="text-primary"><h5>up to $10 Million</h5></span>
                    <p class="mt-4">Partner with us through joint venture equity to access capital for your real estate projects. Combine our financial resources and expertise to maximize investment opportunities and achieve mutual success in property development.
                    </p>
                </div>
                
            </div>
            <div class="container col-md-4 mx-auto" >
                <button type="button" class="btn btn-primary rounded-pill py-3 px-4" data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->







    <!--  -->
    <div class="container-xxl mtc-150">
        <div class="container" >
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="">Our Fast Funding 
                    <span class="cursive text-primary" >
                        Promise
                    </span>
                </h1>
                
                <h5 class=" col-md-8 mt-3 mx-auto text-center">We are committed to helping you succeed by providing flexible financing options. Whether you are a small business owner looking for working capital or a larger corporation seeking to finance a new project or expansion,<br> we are here to help.</h5>
            </div>
        </div>
    </div>
    <!--  -->


        
    <!-- Features Start -->
    <div class="container-xxl py-2 mtc-80">
        <div class="container">
            <div class="row g-0 feature-row">

                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex justify-content-center">
                      <img class="mx-auto pt-3" src="/static/img/icon/fee.svg" alt="" style="width: 80px; height: 80px;">
                    </div>
                    <div class="feature-item h-100 text-center">
                      <h4 class="mb-3 text-blue1 pt-3">$0 UPFRONT FEE 
                        <span><h2 class="cursive text-primary">Promise</h2></span>
                      </h4>
                      <p class="mb-0 px-4 pb-3">Our private funding solutions come with no upfront fees. We believe in providing transparent and affordable financing options to help you achieve your homeownership dreams. Contact us today for a hassle-free application process.</p>
                    </div>
                  </div>
              
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex justify-content-center">
                      <img class="mx-auto pt-3" src="/static/img/icon/lowrate.svg" alt="" style="width: 80px; height: 80px;">
                    </div>
                    <div class="feature-item h-100 text-center">
                      <h4 class="mb-3 text-blue1 pt-3">LOWEST RATE
                        <span><h2 class="cursive text-primary">Promise</h2></span>
                      </h4>
                      <p class="mb-0 px-4 pb-3">Our private funding solutions offers lowest rates in the market. We prioritize your financial well-being by providing competitive interest rates tailored to your unique circumstances. Take advantage of our affordable rates, contact us today.</p>
                    </div>
                  </div>
                
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex justify-content-center">
                      <img class="mx-auto pt-3" src="/static/img/icon/highltv.svg" alt="" style="width: 80px; height: 80px;">
                    </div>
                    <div class="feature-item h-100 text-center">
                      <h4 class="mb-3 text-blue1 pt-3">HIGHER LTV 
                        <span><h2 class="cursive text-primary">Promise</h2></span>
                      </h4>
                      <p class="mb-0 px-4 pb-3">Unlock the potential with our private funding solutions offering higher loan-to-value ratios. Contact us today to learn more about our flexible and tailored loan options.</p>
                    </div>
                  </div>
                
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex justify-content-center">
                      <img class="mx-auto pt-3" src="/static/img/icon/fastfunding.svg" alt="" style="width: 80px; height: 80px;">
                    </div>
                    <div class="feature-item h-100 text-center">
                      <h4 class="mb-3 text-blue1 pt-3">FAST FUNDING
                        <span><h2 class="cursive text-primary">Promise</h2></span>
                      </h4>
                      <p class="mb-0 px-4 pb-3">We understand the importance of a timely financing solution. With our private funding options, you can experience fast funding, allowing you to seize opportunities quickly. Contact us today for expedited financing.</p>
                    </div>
                  </div>
               
            </div>
        </div>
    </div>
    <!-- Features End -->








    <!--  -->

        <div class="container-xxl mtc-150">
            <div class="container" >
             <div class="container row">
                 <div class="col-md-7 col-sm-12 mtc-80">
                     <img  class="img-fluid p-2" src="/static/img/happy2com.jpg" alt="">
                 </div>
                 <div class="col-md-5 mt-2 ml-5 col-sm-11">

                     

                     <h3  class="text-blue1">
                        <span>
                            <img class="mx-auto" src="/static/img/icon/cashflow.svg" alt="" style="width: 70px; height: 70px;">
                        </span>
                        Million Dollar Deals, Done Fast</h3>
                     <p  class="col-md-12">Our expertise and extensive network enable us to close million-dollar private funding deals quickly and efficiently. Trust us for swift and seamless execution on high-value transactions.
                     </p>
     
                     <h3  class="text-blue1">
                        <span>
                            <img class="mx-auto" src="/static/img/icon/getstarted.svg" alt="" style="width: 70px; height: 70px;">
                        </span>
                        Common-sense Approach</h3>
                     <p  class="col-md-12">We take a practical and common sense approach to private funding, ensuring that our solutions align with your financial goals and circumstances. Experience a straightforward and sensible lending process with us.
                     </p>
     
                     <h3  class="text-blue1">
                        <span>
                            <img class="mx-auto" src="/static/img/icon/businessexpansion.svg" alt="" style="width: 70px; height: 70px;">
                        </span>
                        Grow Your Business Fast</h3>
                     <p  class="col-md-12">Our private business solutions provide the funding you need to expand your business rapidly. With our quick approval process and flexible terms, you can fuel your growth and seize new opportunities swiftly. 
                     </p>

                     <h3  class="text-blue1">
                        <span>
                            <img class="mx-auto" src="/static/img/icon/icon-debt-refinance-min.svg" alt="" style="width: 70px; height: 70px;">
                        </span>
                        Relationship Driven</h3>
                     <p  class="col-md-12">we prioritize building strong relationships with our clients. We believe in understanding your unique needs and providing personalized financing solutions that foster long-term trust and satisfaction.
                     </p>
     
                 </div>
               </div>
               
            </div>
         </div>
     
         <!--  -->
 


    <!-- Service Start -->
    <div class="container-xxl py-5 mtc-100">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fs-5 fw-medium text-primary">Our Expertise</p>
                <h1 class="display-5 mb-5">FUNDING ALL SCENARIO's
                    <span>
                        <h5>
                            No matter your unique financial situation, we have the expertise and resources to find the right solution for you.
                        </h5>
                    </span>
                    <span><h2 class="display-4 cursive text-primary">We mean it</h1></span>
                </h1>
            </div>
            <div class="row g-4">

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded">
                            <div class="d-flex justify-content-center">
                            <img class="mx-auto" src="/static/img/icon/check_1.svg" alt="" style="width: 80px; height: 100px;">
                        </div>
                            <h3 class="text-center ">
                                LIMITED/NO CREDIT</h3>
                                <p class="mb-0"> Don't let a limited credit history hold you back. Our private funding solutions cater to individuals with limited or no credit, providing opportunities to secure financing and achieve your homeownership goals.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded">
                            <div class="d-flex justify-content-center">
                            <img class="mx-auto" src="/static/img/icon/check_1.svg" alt="" style="width: 80px; height: 100px;">
                        </div>
                            <h3 class="text-center ">
                                BANKRUPTCY/FORECLOSURE</h3>
                                <p class="mb-0"> Our private funding solutions cater to individuals with previous bankruptcy or foreclosure, offering a fresh start and the opportunity to rebuild your credit and own a home again.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded">
                            <div class="d-flex justify-content-center">
                            <img class="mx-auto" src="/static/img/icon/check_1.svg" alt="" style="width: 80px; height: 100px;">
                        </div>
                            <h3 class="text-center ">
                                HIGH-DEBT UTILIZATION</h3>
                                <p class="mb-0">We will provide options to consolidate debt or access financing despite your debt levels considering your overall scenario.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->


    
      <!--  -->
      <div class="container my-5 py-5 bg-dark rounded-3">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="py-2 text-white">
                Free Consultation & Quote
            </h1>
            <h5 class="col-md-6 mx-auto text-white">
                Take advantage of our complimentary consultation and receive a no-obligation free quote tailored to your specific financing needs.
            </h5>
            <div class="col-md-4 mx-auto">
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (705) 906-9906
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-primary" style="width: 135px;">CALL</button>
                        </h6>
                    </span>
                </a>
                <a class="d-flex align-items-center rounded overflow-hidden border border-primary my-3" href="">
                    <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </span>
                    <span class="fs-5 fw-medium mx-4 text-white">
                        +1 (647) 547-8025
                    </span>
                    <span class="fs-5 fw-medium mt-2">
                        <h6>
                            <button class="btn btn-success" style="width: 135px;"><i class="bi bi-whatsapp"></i>WHATSAPP</button>
                        </h6>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!--  -->





    <!-- Project Start -->
    <div class="container-xxl pt-5 mtc-80">
        <div class="container">
            <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary">PRIVATE & INSTITUTIONAL</p>
                <h1 class="display-5 mb-2">Experts in Business Financing </h1>
                <h5 class="mb-5" >
                    With our in-depth knowledge and experience, we are the trusted experts in providing tailored financing solutions for businesses of all sizes.
                </h5>
            </div>
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/gasstationcanada.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">GAS STATIONS </a>
                        <span><h6 class="text-center" >Real-estate (optional)</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/holidayinn.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">HOTELS & MOTELS</a>
                        <span><h6 class="text-center" >Including Bars & Food Service</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/indianrestaurentcanada.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">RESTAURANTS</a>
                        <span><h6 class="text-center" >Food Service</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/mcdonalds.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">FAST FOOD FRANCHISE</a>
                        <span><h6 class="text-center" >Quick Service (QSR)</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/storecanada2.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">GROCERY STORES</a>
                        <span><h6 class="text-center" >Retail</h6></span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/timh2.webp" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">FOOD SERVICE/RESTAURANT</a>
                        <span><h6 class="text-center" >Quick Service (QSR)</h6></span>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mt-2 mb-2">Want to start a business?
        </h1>
        <h5 class="mb-3 col-md-5" >
            We provide comprehensive financing options and expert guidance to help turn your entrepreneurial vision into reality.
        </h5>
        <button type="button" class="btn btn-primary rounded-pill animated py-3 px-5 slideInRight " data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
    </div>
    <!-- Project End -->

    <!--  -->

    <div class="container-xxl py-5 mtc-80">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            
            <h2 class="display-5 mb-5">FUNDING IS EASY
                <span>
                    <h5>
                        Our streamlined 3 step process and access to diverse funding sources make securing the financing you need quick and hassle-free.
                    </h5>
                </span>
                {% comment %} <span><h2 class="display-4 cursive text-primary">1-2-3</h2></span> {% endcomment %}
            </h2>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center flex-column">
              <h3 class="display-2 text-center easy-count" >
                1
              </h3>
              <ul class="li-none">
                <li>
                    <h3 class="text-uppercase text-primary" >
                        Discuss Your Needs
                    </h3>
                 </li>
                  <li>
                    <h5>  
                         Explore Your Options
                    </h5>
                </li>
                <li>
                    <h5>
                        Receive The Best Rate 
                    </h5>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center flex-column">
                <h3 class="display-2 text-center easy-count" >
                    2
                  </h3>
              <ul class="li-none">
                <li>
                    <h3 class="text-uppercase text-primary" >
                        Get Approved
                    </h3>
                 </li>
                <li><h5>Easy Documentation</h5></li>
                <li><h5>Flexible Terms </h5></li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center flex-column">
                <h3 class="display-2 text-center easy-count" >
                    3
                  </h3>
              <ul class="li-none">
                <li>
                    <h3 class="text-uppercase text-primary">
                        Fast Funding
                    </h3>
                 </li>
                <li><h5>Interest-only Payments</h5></li>
                <li><h5>High Ratio Advances</h5></li>

              </ul>
            </div>
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            
                <h2 class="mb-3">Monthly funding loans from <br>$50K to 10 Million
                </h2>
                <button type="button" class="btn btn-primary rounded-pill py-3 px-4" data-bs-toggle="modal" data-bs-target="#myModal">GET FUNDED FAST</button>
            </div>
          </div>
          
    </div>
    <!--  -->







    <!--  -->


    <div class="container-xxl mtc-100">
        <div class="container">
            <div class="container">
                <div class="mt-3" >
                    <div class="row">
                        <div class="col-md-7">
                           <div class="text-center mx-5 text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s"
                           style="max-width: 600px;">
                                <h1 class="display-5 mb-5 pt-5 px-lg-5">Experts in Commercial Financing</i></span>
                                </h1>
                                <h5 class="px-lg-5" >
                                    We know opportunity doesn't wait, we act fast and with our experience we can get the transaction completed on-time. With our deep industry knowledge and extensive experience, we are the trusted experts in providing tailored commercial financing solutions. Partner with us to fuel your business growth and achieve your financial goals. 
                                </h5>
                          </div> 
                        </div>
           
                        <div class="col-md-5 mt-5 ml-5">

                            <h3 class="text-blue1">Expertise You Can Trust</h3>
                            <p> With years of industry experience, our team possesses the knowledge and skills to navigate complex mortgage scenarios. Rely on our expertise for reliable and tailored solutions to meet your unique needs.
                            </p>
           
                            <h3  class="text-blue1">Experts in fast closings</h3>
                            <p> Our expertise and streamlined process allow us to facilitate swift closings, ensuring you get the funding you need in a timely manner. Trust us for efficient and hassle-free transactions.
                            </p>
            
                            <h3  class="text-blue1">We work for your best interest</h3>
                            <p>As your trusted financial partner, we prioritize your needs and goals. Our dedicated team works tirelessly to secure the best financing options that align with your best interests.
                            </p>
            
                        </div>
                      </div>
                      
                   </div>
            </div>
        </div>
     </div>

    <!--  -->



     <!-- Project Start -->
     <div class="container-xxl pt-5 mtc-80">
        <div class="container">
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/commercialhero.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">SHOPPING MALL</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/city street.jpg">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">MULTIFAMILY RESIDENTIAL</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/homedevelopment.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">RESIDENTIAL DEVELOPMENT</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/Tall building2.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">OFFICE BUILDINGS</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/holidayinn.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">HOTELS & MOTELS</a>
                        
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid pnp-img" src="/static/img/commercial.jpg" alt="Image">
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 text-center" href="">COMMERCIAL PLAZAS</a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <button type="button" class="btn btn-primary rounded-pill py-3 px-4" data-bs-toggle="modal" data-bs-target="#myModal">DISCUSS YOUR PROJECT</button>
    </div>
    <!-- Project End -->


   
     {% endblock  %}
