
{% extends 'base.html' %}

{% block content %}
  

    <!--  -->

    <div class="container-xxl mtc-100">
        <div class="container" >
             <div class="col-md-12 col-sm-10">
                <h1 class="display-5 mb-4">OUR PRIVACY POLICY</h1>

                <h5  class="col-md-10 mt-5">
                    Effective Date: [Insert Date]
                </h5>
                <p class="col-md-9" >
                    [Your Company Name] ("we," "us," or "[Your Company Name]") is committed to protecting the privacy of individuals who visit our lead generating website for mortgage loans and use our services. This Privacy Policy outlines how we collect, use, disclose, and safeguard personal information provided by users ("you" or "users") of our website.
                </p>

                <h5  class="col-md-10 mt-5">
                    Information We Collect
                </h5>
                <p class="col-md-9" >
                    We may collect personal information from you when you visit our website, fill out our lead generation form, or communicate with us. <br>The types of personal information we may collect include:<br><br>

                    Contact information (such as name, address, email address, and telephone number)<br>
                    Financial information (such as income, employment details, and credit history)<br>
                    Mortgage-related information (such as desired loan amount, property details, and loan purpose)
                    Other information relevant to the mortgage loan lead generation process
                </p>

                <h5  class="col-md-10 mt-5">
                    Use of Personal Information
                </h5>
                <p class="col-md-9" >
                    We use the personal information we collect for the following purposes:
                </p>
                <p class="col-md-9" >
                    To provide you with personalized mortgage loan offers and services
                    To match you with lenders, financial institutions, and mortgage brokers based on your preferences
                    To communicate with you regarding your mortgage loan inquiry and provide customer support
                    To improve our website, products, and services
                    To send you promotional materials and updates with your consent (which you can opt-out of at any time)
                </p>

                <h5  class="col-md-10 mt-5">
                    Disclosure of Personal Information
                </h5>
                <p class="col-md-9" >
                    We may disclose your personal information to third parties in the following circumstances:

To lenders, financial institutions, and mortgage brokers to facilitate the mortgage loan matching process and provide you with suitable loan options
To third-party service providers who assist us in operating our website and delivering our services (such as IT support, customer service, and marketing)
With your consent, to other third parties for additional purposes not mentioned above
                </p>


                <h5  class="col-md-10 mt-5">
                    Security
                </h5>
                <p class="col-md-9" >
                    We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please note that no security measure is completely foolproof, and we cannot guarantee the absolute security of your personal information.
                </p>

                <h5  class="col-md-10 mt-5">
                    Retention of Personal Information
                </h5>
                <p class="col-md-9" >
                    We retain personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by applicable laws and regulations. When we no longer need the information, we will securely dispose of it.
                </p>

                <h5  class="col-md-10 mt-5">
                    Your Privacy Rights
                </h5>
                <p class="col-md-9" >
                    You have the right to access, update, correct, and delete your personal information in our possession, subject to legal and contractual restrictions. You may also withdraw your consent for us to process your personal information, except where such processing is required for legal or contractual purposes.
                </p>

                <h5  class="col-md-10 mt-5">
                    Cookies and Tracking Technologies
                </h5>
                <p class="col-md-9" >
                    We may use cookies and other tracking technologies to enhance your browsing experience on our website. These technologies collect certain information automatically when you visit our site. You can modify your browser settings to control or disable cookies, but please note that this may affect your ability to access certain features of our website.
                </p>

                <h5  class="col-md-10 mt-5">
                    Links to Third-Party Websites
                </h5>
                <p class="col-md-9" >
                    Our website may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the privacy practices or content of such third-party websites, and we encourage you to review their privacy policies before providing any personal information.
                </p>


                <h5  class="col-md-10 mt-5">
                    Updates to Privacy Policy
                </h5>
                <p class="col-md-9" >
                    We may update this Privacy Policy from time to time. Any changes will be effective immediately upon posting the revised version on our website. We encourage you to review this Privacy Policy periodically for any updates.
                </p>

                <h5  class="col-md-10 mt-5">
                    Contact Us
                </h5>
                <p class="col-md-9" >
                    If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at [Insert contact information].
                </p>

             
           </div>
           
        </div>
     </div>
 
     <!--  -->

     {% endblock  %}
