

{% extends 'base.html' %}

{% block content %}


<div class="container-xxl mtc-100">
    <div class="container" >
         <div class="col-md-12 col-sm-10">
            <h1 class="display-5 mb-4">TERMS OF USE </h1>

            <h5  class="col-md-10 mt-5">
                Effective Date: [Insert Date]
            </h5>
            <p class="col-md-9" >
                Welcome to [Your Company Name] ("we," "us," or "[Your Company Name]"). These Terms of Use govern your use of our loan website (the "Website"). By accessing or using the Website, you agree to be bound by these Terms of Use. If you do not agree with these terms, please refrain from using the Website.
            </p>

            <h5  class="col-md-10 mt-5">
                Eligibility

            </h5>
            <p class="col-md-9" >
                You must be at least 18 years old and have the legal capacity to enter into a binding agreement to use the Website. By using the Website, you represent and warrant that you meet these eligibility requirements.

            </p>

            <h5  class="col-md-10 mt-5">
                Website Content
            </h5>
            <p class="col-md-9" >
                The content provided on the Website is for informational purposes only and should not be considered as financial or legal advice. We strive to provide accurate and up-to-date information, but we do not warrant the completeness, accuracy, or reliability of any content on the Website. You acknowledge that any reliance on the Website's content is at your own risk.
            </p>

            <h5  class="col-md-10 mt-5">
                User Conduct
            </h5>
            <p class="col-md-9" >
                When using the Website, you agree to:

                Comply with all applicable laws, regulations, and these Terms of Use
                Provide accurate and current information
                Use the Website solely for its intended purposes and in a lawful manner
                Refrain from engaging in any conduct that may disrupt or interfere with the Website's operation, security, or integrity
                Not impersonate or misrepresent your identity or affiliation with any person or entity
            </p>


            <h5  class="col-md-10 mt-5">
                Intellectual Property
            </h5>
            <p class="col-md-9" >
                he Website and its contents, including but not limited to text, graphics, logos, images, videos, and software, are the property of [Your Company Name] or its licensors and are protected by intellectual property laws. You may not reproduce, distribute, modify, transmit, or use any content from the Website without our prior written consent.
            </p>

            <h5  class="col-md-10 mt-5">
                Links to Third-Party Websites
            </h5>
            <p class="col-md-9" >
                The Website may contain links to third-party websites for your convenience. We do not endorse or control the content, products, or services offered by these third-party websites. You acknowledge and agree that we are not responsible for any damages or losses incurred from accessing or using these third-party websites.
            </p>

            <h5  class="col-md-10 mt-5">
                Privacy
            </h5>
            <p class="col-md-9" >
                Your use of the Website is subject to our Privacy Policy, which outlines how we collect, use, disclose, and safeguard your personal information. By using the Website, you consent to the collection and use of your information as described in our Privacy Policy.
            </p>

            <h5  class="col-md-10 mt-5">
                Limitation of Liability
            </h5>
            <p class="col-md-9" >
                To the extent permitted by law, we shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or related to your use of the Website, including but not limited to damages for loss of profits, data, or other intangible losses.
            </p>

            <h5  class="col-md-10 mt-5">
                Indemnification
            </h5>
            <p class="col-md-9" >
                You agree to indemnify, defend, and hold harmless [Your Company Name] and its officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, costs, or expenses arising out of or related to your use of the Website or any violation of these Terms of Use.
            </p>


            <h5  class="col-md-10 mt-5">
                Termination
            </h5>
            <p class="col-md-9" >
                We reserve the right to terminate or suspend your access to the Website at any time without prior notice and for any reason, including but not limited to a violation of these Terms of Use.
            </p>

            <h5  class="col-md-10 mt-5">
                Governing Law and Jurisdiction
            </h5>
            <p class="col-md-9" >
                These Terms of Use shall be governed by and construed in accordance with the laws of Canada. Any disputes arising out of or relating to these Terms of Use or your use of the Website shall be subject to the exclusive jurisdiction of the courts located in [Insert Jurisdiction].
            </p>

            <h5  class="col-md-10 mt-5">
                Changes to Terms of Use
            </h5>
            <p class="col-md-9" >
                We may modify or update these Terms of Use from time to time without prior notice. By continuing to use the Website after the effective date of any changes, you agree to be bound by the updated Terms of Use.
            </p>

            <h5  class="col-md-10 mt-5">
                Contact Us
            </h5>
            <p class="col-md-9" >
                If you have any questions, concerns, or requests regarding these Terms of Use, please contact us at [Insert contact information]
            </p>

         
       </div>
       
    </div>
 </div>

 <!--  -->

    {% endblock  %}
